# =====================
# BACKEND
# =====================
backend/.env
backend/.env.*
backend/__pycache__/
backend/.venv/
backend/*.pyc

# =====================
# FRONTEND (Nuxt)
# =====================
frontend/.output/
frontend/.data/
frontend/.nuxt/
frontend/.nitro/
frontend/.cache/
frontend/dist/
frontend/node_modules/
frontend/logs/
frontend/*.log

# Env (frontend também pode ter)
frontend/.env
frontend/.env.*
!frontend/.env.example

# =====================
# GLOBAL
# =====================
.env
.env.*
!.env.example

# IDE / OS
.vscode/
.idea/
.DS_Store
.fleet
